<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                Nice, come back later <span style='font-size:100px;' v-on:click="inc">😚</span>
            </div>
            <div v-if="c === 3">
                ani@udemkezi.de
                <br>
                🏠📻❤️
                <div>
                    <input type="text" v-model="pw">
                </div>
                <div v-if="pw.toLowerCase() === 'herz'">
                    pw: udemkezi123
                    <br>
                    server: mxf912.netcup.net
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                c: 0,
                pw: ''
            };
        },
        methods: {
            inc() {
                this.c++;
            }
        }
    }
</script>
